apiVersion: apps/v1
kind: Deployment
metadata:
  name: spot-gateway
  namespace: spot
  labels:
    app: spot-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spot-gateway
  template:
    metadata:
      labels:
        app: spot-gateway
    spec:
      containers:
        - name: spot-gateway
          image: spot-registry.localhost:5111/spot-gateway:latest
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATA_REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: spot-common-config
                  key: SPRING_DATA_REDIS_HOST
          resources:
            requests:
              memory: "256Mi"
              cpu: "200m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: spot-gateway
  namespace: spot
spec:
  type: NodePort
  selector:
    app: spot-gateway
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
