apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: spot-cluster
servers: 1
agents: 2
image: rancher/k3s:v1.28.5-k3s1
ports:
  - port: 8080:80
    nodeFilters:
      - loadbalancer
  - port: 8443:443
    nodeFilters:
      - loadbalancer
  - port: 30000-30100:30000-30100
    nodeFilters:
      - server:*
registries:
  create:
    name: spot-registry.localhost
    host: "0.0.0.0"
    hostPort: "5111"
options:
  k3d:
    wait: true
    timeout: "120s"
  k3s:
    extraArgs:
      - arg: --disable=traefik
        nodeFilters:
          - server:*
  kubeconfig:
    updateDefaultKubeconfig: true
    switchCurrentContext: true
