### infra ###
**/.terraform/*
**/terraform.tfstate
**/terraform.tfstate.*
*.tfvars
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform-key.pem

# Lambda build artifacts
**/lambda/*.zip

.idea/
.vscode/
out/
bin/
postgres_data/*

### Gradle ###
.gradle/
build/

### yml ###
**/*.yml
**/*.yaml

!**/application-example.yml
!**/application-example.yaml
!**/application.example.yml
!**/application.example.yaml
!docker-compose.yaml
!config/*.yml
!infra/**/*.yaml
!infra/**/*.yml


### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.utils
pom.xml.v
release.properties


### IntelliJ IDEA ###
*.iws
*.iml
*.ipr


### Eclipse ###
.settings/
.project
.classpath
.factorypath

### OS ###
.DS_Store
Thumbs.db

### Log files ###
*.log
logs/

config/application-secret.yml

.env