### infra ###
infra/terraform/provider.tf
infra/terraform/terraform.*
infra/terraform/.terraform*

.idea/
.vscode/
out/
bin/
postgres_data/*
.DS_Store
application.yml
application.yaml

### Gradle ###
.gradle/
build/
