spring:
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:29092}
  
    listener:
      ack-mode: MANUAL
      
    producer:
      acks: all
      retries: 5
      properties:
        retry.backoff.ms: 300
        delivery.timeout.ms: 3000
        enable.idempotence: true
        max.in.flight.requests.per.connection: 5
        
    consumer:
      enable-auto-commit: false
      auto-offset-reset: earliest
      max-poll-records: 50
      max.poll.interval.ms: 300000
      session.timeout.ms: 15000
      heartbeat.interval.ms: 3000
      
    topic:
      order:
        created: spot.order.created
        pending: spot.order.pending
        accepted: spot.order.accepted
        cancelled: spot.order.cancelled
      payment:
        succeeded: spot.payment.succeeded
        refunded: spot.payment.refunded
      payment-auth:
        required: spot.payment_auth.required