spring:
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

    listener:
      ack-mode: MANUAL

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      acks: all
      retries: 5
      properties:
        retry.backoff.ms: 2000
        reconnect.backoff.ms: 5000
        reconnect.backoff.max.ms: 30000
        delivery.timeout.ms: 30000
        enable.idempotence: true
        max.in.flight.requests.per.connection: 5

    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      enable-auto-commit: false
      auto-offset-reset: earliest
      max-poll-records: 50
      max.poll.interval.ms: 300000
      session.timeout.ms: 15000
      heartbeat.interval.ms: 3000
      group:
        order: order-group
        payment: payment-group
        customer: customer-group
        chef: chef-group
        owner: owner-group

    topic:
      order:
        created: spot.order.created
        pending: spot.order.pending
        accepted: spot.order.accepted
        cancelled: spot.order.cancelled
      payment:
        succeeded: spot.payment.succeeded
        refunded: spot.payment.refunded
      payment-auth:
        required: spot.payment_auth.required