kafka:
  topic:
    order:
      created: spot.order.created
      pending: spot.order.pending
    payment:
      succeeded: spot.payment.succeeded
    payment-auth:
      required: spot.payment_auth.required