spring:
  application:
    name: spot-gateway


  cloud:
    gateway:
      routes:
        - id: user-auth
          uri: ${SPOT_USER_URI:http://spot-user:8081}
          predicates:
            - Path=/api/login,/api/join,/api/auth/refresh

        - id: user-service
          uri: ${SPOT_USER_URI:http://spot-user:8081}
          predicates:
            - Path=/api/users/**,/api/admin/**

        - id: store-service
          uri: ${SPOT_STORE_URI:http://spot-store:8083}
          predicates:
            - Path=/api/stores/**,/api/categories/**,/api/reviews/**

        - id: order-service
          uri: ${SPOT_ORDER_URI:http://spot-order:8082}
          predicates:
            - Path=/api/orders/**

        - id: payment-service
          uri: ${SPOT_PAYMENT_URI:http://spot-payment:8084}
          predicates:
            - Path=/api/payments/**

        - id: block-internal
          uri: http://localhost:9999
          predicates:
            - Path=/internal/**
          filters:
            - SetStatus=403



test:
  marker: spot-gateway-yml-loaded

logging:
  level:
    org.springframework.boot.context.config: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.gateway.route.RouteDefinitionRouteLocator: DEBUG
    org.springframework.cloud.gateway.handler.RoutePredicateHandlerMapping: TRACE

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true
