server:
  port: 8081

feign:
  order:
    url: ${FEIGN_ORDER_URL:http://spot-order:8082}
  store:
    url: ${FEIGN_STORE_URL:http://spot-store:8083}
  payment:
    url: ${FEIGN_PAYMENT_URL:http://spot-payment:8084}
  client:
    config:
      default:
        loggerLevel: FULL

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics
          - prometheus

  endpoint:
    health:
      probes:
        enabled: true

  metrics:
    tags:
      application: ${spring.application.name}


logging:
  level:
    feign: DEBUG
    com.example.Spot: DEBUG
    com.example.Spot.global.feign: DEBUG
    io.github.resilience4j.circuitbreaker: INFO
    io.github.resilience4j.retry: INFO
    io.github.resilience4j.bulkhead: INFO