spring:
  application:
    name: spot-gateway

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: 6379

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-auth
              uri: ${SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_0_URI:http://localhost:8081}
              predicates:
                - Path=/api/login,/api/join,/api/auth/refresh

            - id: user-service
              uri: ${SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_0_URI:http://localhost:8081}
              predicates:
                - Path=/api/users/**, /api/admin/**

            - id: store-service
              uri: ${SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_5_URI:http://localhost:8083}
              predicates:
                - Path=/api/stores/**

            - id: order-service
              uri: ${SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_9_URI:http://localhost:8082}
              predicates:
                - Path=/api/orders/**

            - id: payment-service
              uri: ${SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_ROUTES_10_URI:http://localhost:8084}
              predicates:
                - Path=/api/payments/**

            - id: block-internal
              uri: http://localhost:9999
              predicates:
                - Path=/internal/**
              filters:
                - SetStatus=403


logging:
  level:
    org.springframework.boot.context.config: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.gateway.route.RouteDefinitionRouteLocator: DEBUG
    org.springframework.cloud.gateway.handler.RoutePredicateHandlerMapping: TRACE

management:
  endpoints:
    web:
      exposure:
        include: "*"