spring:
  application:
    name: spot-gateway
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOriginPatterns:
                  - '*'
                allowedMethods:
                  - GET
                  - POST
                  - PATCH
                  - DELETE
                  - OPTIONS
                allowedHeaders:
                  - '*'
                exposedHeaders:
                  - Authorization
                allowCredentials: true
          routes:
            - id: user-auth
              uri: http://spot-user:8081
              predicates:
                - Path=/api/login,/api/join,/api/auth/refresh

            - id: user-service
              uri: http://spot-user:8081
              predicates:
                - Path=/api/users/**

            - id: store-service
              uri: http://spot-store:8083
              predicates:
                - Path=/api/stores/**, /api/categories/**, /api/reviews/**
                
            - id: order-service
              uri: http://spot-order:8082
              predicates:
                - Path=/api/orders/**

            - id: payment-service
              uri: http://spot-payment:8084
              predicates:
                - Path=/api/payments/**

            - id: block-internal
              uri: http://localhost:9999
              predicates:
                - Path=/internal/**
              filters:
                - SetStatus=403


logging:
  level:
    org.springframework.boot.context.config: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.gateway.route.RouteDefinitionRouteLocator: DEBUG
    org.springframework.cloud.gateway.handler.RoutePredicateHandlerMapping: TRACE

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true