apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-pvc
  namespace: monitoring
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana-deploy
  namespace: monitoring
  labels:
    app: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      securityContext:  # PVC 접근 권한을 위한 설정
        runAsUser: 472
        runAsGroup: 472
        fsGroup: 472
      volumes:
        - name: grafana-pv-storage
          persistentVolumeClaim:
            claimName: grafana-pvc
        - name: grafana-config-vol
          configMap:
            name: grafana-config
      containers:
        - name: grafana
          image: grafana/grafana:latest
          envFrom:
            - secretRef:
                name: monitoring-secrets
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "750Mi"
          volumeMounts:
            - name: grafana-pv-storage
              mountPath: /var/lib/grafana
            - name: grafana-config-vol
              mountPath: /etc/grafana/provisioning/datasources
---
apiVersion: v1
kind: Service
metadata:
  name: grafana-service
  namespace: monitoring
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
      - port: 3000
        targetPort: 3000
        nodePort: 30070
