apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: loki-pvc
  namespace: monitoring
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki-deploy
  namespace: monitoring
  labels:
    app: loki
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      securityContext:  # PVC 접근 권한을 위한 설정
        fsGroup: 10001
        runAsGroup: 10001
        runAsUser: 10001
      volumes:
        - name: loki-pv-storage
          persistentVolumeClaim:
            claimName: loki-pvc
        - name: loki-config-vol
          configMap:
            name: loki-config
      containers:
        - name: loki
          image: grafana/loki:latest
          ports:
            - containerPort: 3100
          args:
            - "-config.file=/etc/loki/loki-config.yaml"
          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "1000m"
              memory: "1Gi"
          volumeMounts:
            - name: loki-pv-storage
              mountPath: /loki
            - name: loki-config-vol
              mountPath: /etc/loki
---
apiVersion: v1
kind: Service
metadata:
  name: loki-service
  namespace: monitoring
spec:
  type: ClusterIP
  selector:
    app: loki
  ports:
    - port: 3100
      targetPort: 3100