name: DEV PR Check - User Service

on:
  pull_request:
    branches: [ dev ]
    paths:
      - 'config/common.yml'
      - 'config/kafka-topics.yml'
      - 'config/spot-user.yml'
      - 'spot-user/**'
      - '.github/workflows/dev-pr-check-user.yml'

jobs:
  call-common:
    uses: ./.github/workflows/_common-dev-pr-check.yml
    with:
      service-name: spot-user
      working-directory: spot-user
      health-port: 8081
    secrets:
      SPRING_JWT_SECRET: ${{ secrets.SPRING_JWT_SECRET }}
      EMAIL_USERNAME: ${{ secrets.EMAIL_USERNAME }}
      EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
      TOSS_SECRET_KEY: ${{ secrets.TOSS_SECRET_KEY }}
      TOSS_CUSTOMER_KEY: ${{ secrets.TOSS_CUSTOMER_KEY }}
