name: DEV PR Check - Store Service

on:
  pull_request:
    branches: [ dev ]
    paths:
      - 'config/common.yml'
      - 'config/kafka-topics.yml'
      - 'config/spot-store.yml'
      - 'spot-store/**'
      - '.github/workflows/dev-pr-check-store.yml'

jobs:
  call-common:
    uses: ./.github/workflows/_common-dev-pr-check.yml
    with:
      service-name: spot-store
      working-directory: spot-store
    secrets:
      SPRING_JWT_SECRET: ${{ secrets.SPRING_JWT_SECRET }}
      EMAIL_USERNAME: ${{ secrets.EMAIL_USERNAME }}
      EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
      TOSS_SECRET_KEY: ${{ secrets.TOSS_SECRET_KEY }}
      TOSS_CUSTOMER_KEY: ${{ secrets.TOSS_CUSTOMER_KEY }}
