#name: dev-cd-user.yml
#on:
#  workflow_run:
#    workflows: [ PROD CI - User Service ]
#    type: [ completed ]
#  push:
#    branches: [ main ]
#    paths:
#      #        - 'infra/client/**'
#      - 'spot-user/**'
#      - '.github/workflows/prod-cd-user.yml'
#
#env:
#  SERVICE_NAME: user-task
#  AWS_REGION: ap-northeast-2
#  ECR_REPOSITORY: spot-user
#  ECS_SERVICE: spot-user-service
#  ECS_CLUSTER: spot-prod-cluster
#  ECS_CONTAINER: spot-user-container
#  APP_SEC: infra/appsec-template.yml
#
#jobs:
#  deploy:
#    name: Deploy to ECS Prod Cluster
#    runs-on: ubuntu-latest
#    if: ${{ github.event.workflow_run.conclusion == 'success' }}
#    defaults:
#      run:
#        working-directory: spot-user
#    permissions:
#      id-token: write
#      contents: read
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v4
#
#      - name: Set up JDK 21
#        uses: actions/setup-java@v4
#        with:
#          java-version: '21'
#          distribution: 'temurin'
#          cache: gradle
#
#      - name: Grant execute permission for gradlew
#        run: chmod +x gradlew
#
#      - name: Make application.properties
#        run: |
#          mkdir -p ./src/main/resources
#          echo "Copying config files..."
#          cp ../config/common.yml ./src/main/resources/common.yml
#          cp ../config/kafka-topics.yml ./src/main/resources/kafka-topics.yml
#          cp ../config/spot-user.yml ./src/main/resources/application.yml
#
#          # 확인용
#          ls -al ./src/main/resources/
#
#      - name: Build with Gradle
#        run: ./gradlew build -x test
#
#      # AWS OIDC 인증
#      - name: configure aws
#        id: aws-config
#        uses: aws-actions/configure-aws-credentials@v4
#        with:
#          aws-region: ${{ env.AWS_REGION }}
#          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
#
#      # ECR 로그인
#      - name: Login to ECR
#        id: login-ecr
#        uses: aws-actions/amazon-ecr-login@v2
#
#      # Git SHA 이미지 태그
#      - name: Get Image Tag
#        id: image-tag
#        run: echo "short_tag=prod-$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
#
#      # Docker 이미지 빌드
#      - name: Build Docker Image
#        id: docker-build
#        env:
#          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
#          IMAGE_TAG: ${{ steps.image-tag.outputs.short_tag }}
#        run: |
#          docker build \
#          -t  $REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG \
#          -f Dockerfile .
#
#      # ECR Push
#      - name: Push Docker Image To ECR
#        id: docker-push
#        env:
#          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
#          IMAGE_TAG: ${{ steps.image-tag.outputs.short_tag }}
#        run: |
#          docker push $REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
#
#      # Task Definition 교체 작업
#      - name: Render Task Definition
#        id: render-task-def
#        env:
#          NEW_IMAGE: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ steps.image-tag.outputs.short_tag }}
#          SERVICE_NAME: ${{ env.SERVICE_NAME }}
#          AWS_REGION: ${{ env.AWS_REGION }}
#        run: |
#          echo "Rendering Task Definition..."
#
#          NAME="$SERVICE_NAME"
#          REGION="$AWS_REGION"
#
#          aws ecs describe-task-definition \
#          --task-definition "spot-prod-$SERVICE_NAME" \
#          --region "$AWS_REGION" \
#          jq --arg IMAGE="$NEW_IMAGE" \
#          '.taskDefinition |
#          .containerDefinitions[0].image = $IMAGE |
#            del(
#              .taskDefinitionArn,
#              .revision,
#              .status,
#              .requiresAttributes,
#              .compatibilities,
#              .registeredAt,
#              .registeredBy
#            )' \
#          > new-task-def.json
#
#          # 2. AWS에 등록
#          NEW_TASK_INFO=$(aws ecs register-task-definition --cli-input-json file://new-task-def.json)
#
#          # 3. ARN 추출
#          NEW_TASK_ARN=$(echo $NEW_TASK_INFO | jq -r '.taskDefinition.taskDefinitionArn')
#          echo "NEW_TASK_ARN=$NEW_TASK_ARN" >> $GITHUB_OUTPUT
#          echo "New Task Definition ARN: $NEW_TASK_ARN"
#
#      # 서비스 업데이트
#      - name: Update Service
#        id: update-service
#        run: |
#          echo "Updating ECS Service..."
#
#          aws ecs update-service \
#            --cluster ${{ env.ECS_CLUSTER }} \
#            --service ${{ env.ECS_SERVICE }} \
#            --task-definition ${{ steps.render-task-def.outputs.NEW_TASK_ARN }} \
#            --force-new-deployment
#
#      # AppSecs 랜더링
#      - name: Render AppSecs
#        id: render-appsec
#        env:
#          TASK_ARN: ${{ steps.render-task-def.outputs.NEW_TASK_ARN }}
#          CONTAINER_NAME: ${{  }}
#          CONTAINER_PORT: ${{  }}
#          HOOKS: ${{  }}
#        run: |
#          echo "Rendering AppSec..."
#
#          jq --arg TASK "$TASK_ARN" \
#                   NAME "$CONTAINER_NAME" \
#                   PORT "$CONTAINER_PORT" \
#          '.Resources[0].Properties.TaskDefinition = $TASK' |
#          '.Resources[0].Properties.LoadBalancerInfo[0] = $NAME' |
#          '.Resources[0].Properties.LoadBalancerInfo[1] = $PORT' \
#          ../${{ env.APP_SEC }} > appsec.yml
#
##      # Code Deploy로 트래픽 전환
##      - name: Trigger Code Deploy
##        id: trigger-code-deploy
#
#      # Discord 알림 - 성공
#      - name: Notify Discord - Prod CD SUCCESS
#        run: |
#          curl -X POST ${{ secrets.DISCORD_WEBHOOK_URL }} \
#            -H "Content-Type: application/json" \
#            -d '{
#              "embeds": [{
#                "title": "✅ Prod CD 성공 - User",
#                "description": "**설명**\n- 배포 성공\n\n**이미지**\n- ${{ steps.image-tag.outputs.short_tag }}",
#                "color": 3066993
#                }]
#            }'
#
#      # Discord 알림 - 실패
#      - name: Notify Discord - Prod CD FAIL
#        if: failure()  # 앞 단계 중 하나라도 실패하면 실행됨
#        run: |
#          # ---------------------------------------------------------
#          # 1. 실패 원인 찾기 (이 로직은 그대로 유지해야 함!)
#          # ---------------------------------------------------------
#          FAILED_STEP="알 수 없음"
#
#          if [ "${{ steps.aws-config.outcome }}" == "failure" ]; then FAILED_STEP="AWS 인증"; fi
#          if [ "${{ steps.login-ecr.outcome }}" == "failure" ]; then FAILED_STEP="ECR 로그인"; fi
#          if [ "${{ steps.docker-build.outcome }}" == "failure" ]; then FAILED_STEP="Docker 이미지 빌드"; fi
#          if [ "${{ steps.docker-push.outcome }}" == "failure" ]; then FAILED_STEP="ECR Push"; fi
#          if [ "${{ steps.render-task-def.outcome }}" == "failure" ]; then FAILED_STEP="Task Definition 교체"; fi
#          if [ "${{ steps.update-service.outcome }}" == "failure" ]; then FAILED_STEP="ECS 서비스 업데이트"; fi
#          if [ "${{ steps.render-appsec.outcome }}" == "failure" ]; then FAILED_STEP="AppSec 교체"; fi
#          if [ "${{ steps.trigger-code-deploy.outcome }}" == "failure" ]; then FAILED_STEP="배포"; fi
#
#          DISCORD_PAYLOAD=$(jq -n \
#            --arg step "$FAILED_STEP" \
#            --arg tag "${{ steps.image-tag.outputs.short_tag }}" \
#            '{
#              embeds: [{
#                title: "❌ Prod CD 실패 - User",
#                description: ("**원인**\n - " + $step + " 실패\n**태그**\n - `" + $tag + "`"),
#                color: 15158332
#              }]
#            }')
#
#          curl -X POST ${{ secrets.DISCORD_WEBHOOK_URL }} \
#            -H "Content-Type: application/json" \
#            -d "$DISCORD_PAYLOAD"
